<a href="https://colab.research.google.com/github/Amal2802/trabelsi-amal/blob/main/Copy_of_Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
filename = ('/content/drive/MyDrive/datasets/bostonHousing1978.csv')

In [ ]:
df = pd.read_csv(filename)
df.head()

      RM  LSTAT  PTRATIO  target
0  6.575   4.98     15.3    24.0
1  6.421   9.14     17.8    21.6
2  7.185   4.03     17.8    34.7
3  6.998   2.94     18.7    33.4
4  7.147   5.33     18.7    36.2

In [ ]:
filename = ('/content/drive/MyDrive/datasets/RailsToTrails_National Count Data_week.xlsx')
df_bike = pd.read_excel(filename)
df_bike.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679,183546,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340,97140,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315,75782,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801,83809,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841,94738,NaN,0.249166,124.916602,NaN,NaN,NaN

In [ ]:
import pandas as pd
df = pd.read_csv =('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data')

In [ ]:
# When there is no header row
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data', header = None)
df.head()

TypeError: ignored